Package: com.cryptoclock
Name: CryptoClock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vitalik
Author: Vitalik
Section: Tweaks
Depends: ws.hbang.common, mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
