Package: com.fixindicatordots14
Name: FixIndicatorDots14
Version: 0.0.2
Architecture: iphoneos-arm
Description: Adjust the position of the sensor activity indicator dots in iOS 14.
Maintainer: Bungle
Author: Bungle
Section: Tweaks
Icon: https://github.com/temp1122-sys/FixIndicatorDots14/raw/main/fixindicatordots14prefs/Resources/icon%403x.png
Depends: ws.hbang.common, mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
