<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>action</key>
                        <string>respring:</string>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>Respring</string>
                </dict>
                <dict>
                <key>cell</key>
                        <string>PSGroupCell</string>
        </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>enabled</string>
                        <key>label</key>
                        <string>Enabled</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>Time Settings</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>default</key>
                        <string>h:mm</string>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>format1</string>
                        <key>label</key>
                        <string>Format</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>keyboard</key>
                        <string>numbers</string>
                        <key>default</key>
                        <string>14</string>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>fontSize1</string>
                        <key>label</key>
                        <string>Font Size</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <true/>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>bold1</string>
                        <key>label</key>
                        <string>Bold</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>Crypto To Display</string>
                        <key>footerText</key>
			<string>It's already unwise to implement 'price fetching' in the way this tweak does. It would be extra unwise to shorten that interval.</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>default</key>
                        <string>USD</string>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>base</string>
                        <key>label</key>
                        <string>Base</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>default</key>
                        <string>ETH</string>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>token</string>
                        <key>label</key>
                        <string>Token</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>keyboard</key>
                        <string>numbers</string>
                        <key>default</key>
                        <string>10</string>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>fontSize2</string>
                        <key>label</key>
                        <string>Font Size</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>isNumeric</key>
                        <string>timeout</string>
                        <key>default</key>
                        <string>60</string>
                        <key>defaults</key>
			<string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>timeout</string>
                        <key>label</key>
                        <string>Refresh Interval</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>bold2</string>
                        <key>label</key>
                        <string>Bold</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>LANGUAGE</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>default</key>
                        <string>en_US</string>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>locale</string>
                        <key>label</key>
                        <string>Locale</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ALIGNMENT</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSegmentCell</string>
                        <key>default</key>
                        <integer>1</integer>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>alignment</string>
                        <key>validTitles</key>
                        <array>
                        <string>Left</string>
                        <string>Center</string>
                        <string>Right</string>
                        </array>
	                <key>validValues</key>
                        <array>
                        <string>0</string>
                        <string>1</string>
                        <string>2</string>
                        </array>
                        <key>label</key>
                        <string>Alignment</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>hideLocationIndicator</string>
                        <key>label</key>
                        <string>Hide location Indicator</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>com.cryptoclockprefs</string>
                        <key>key</key>
                        <string>disableBreadcrumbs</string>
                        <key>label</key>
                        <string>Hide Breadcrumbs</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>Donate (share the pain)</string>
                        <key>footerText</key>
			<string>0x6dB4F89fdB1039ee0A92FAB2bf2621E3678acE7a</string>
                </dict>
	</array>
	<key>title</key>
	<string>CryptoClock</string>
</dict>
</plist>
