<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
                <dict>
                        <key>action</key>
                        <string>respring:</string>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>RESPRING</string>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.fixindicatordots14</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>ENABLE_TWEAK</string>
                        <key>PostNotification</key>
                        <string>com.fixindicatordots14/preferences.changed</string>
		</dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>placeholder</key>
                        <string>0.0</string>
                        <key>bestGuess</key>
                        <string>0.0</string>
                        <key>defaults</key>
                        <string>com.fixindicatordots14</string>
                        <key>nil</key>
                        <true/>
                        <key>key</key>
                        <string>xoffset</string>
                        <key>label</key>
                        <string>SIDE_OFFSET</string>
                        <key>PostNotification</key>
                        <string>com.fixindicatordots14/preferences.changed</string>
               </dict>
               <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>placeholder</key>
                        <string>0.0</string>
                        <key>bestGuess</key>
                        <string>0.0</string>
                        <key>defaults</key>
                        <string>com.fixindicatordots14</string>
                        <key>nil</key>
                        <true/>
                        <key>key</key>
                        <string>yoffset</string>
                        <key>label</key>
                        <string>TOP_OFFSET</string>
                        <key>PostNotification</key>
                        <string>com.fixindicatordots14/preferences.changed</string>
               </dict>
                <dict>
                        <key>cell</key>
                        <string>PSEditTextCell</string>
                        <key>placeholder</key>
                        <string>0.0</string>
                        <key>bestGuess</key>
                        <string>0.0</string>
                        <key>defaults</key>
                        <string>com.fixindicatordots14</string>
                        <key>nil</key>
                        <true/>
                        <key>key</key>
                        <string>size</string>
                        <key>label</key>
                        <string>ADJUST_SIZE</string>
                        <key>PostNotification</key>
                        <string>com.fixindicatordots14/preferences.changed</string>
               </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SIDE_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TOP_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SIZE_INFO</string>
		</dict>
	</array>
	<key>title</key>
	<string>PimpsAtSea (Alpha)</string>
</dict>
</plist>
